body {
    background-color: cyan;
    }

.container {
        background: cyan;
        height: 620px;
    }
.col-md-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        margin-top: 8%; 
    }